* {
    padding: 0;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

span {
    font-weight: bold;
    font-size: 32px;
    font-family: 'Times New Roman', Times, serif;
}

ul {
    display: flex;
    gap: 16px;
}

li { 
    list-style: none;
}

.container {
    overflow: hidden;
}

.nav_bar {
    color: white;
    height: 3rem;
    background: blue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

li:hover {
    color: aqua;
}

li:active {
    transform: scale(0.94);
}

.picture_fc {
    transition: transform 0.5s;
    display: flex;
}

.pictures {
    width: 300vw;
}

.picture {
    width: 100vw;
}

img {
    width: 100%;
    height: 100%;
}